<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Edit Lecturer</h3>
</div>
<div class="modal-body" id="modal-body">
    <form action="">
        <div class="row">
            <div class="col-sm-4">
                <input type="text" class="form-control" ng-model="vm.lecturer.name" placeholder="Lecturer">
            </div>

            <div class="col-sm-4">
                <select class="form-control" required ng-model="vm.subject"
                        ng-options="x as x.name for x in vm.subjects">
                    <option value="" disabled selected hidden>{{vm.lecturer.subjectName}}</option>
                </select>
            </div>

            <div class="col-sm-4">
                <select class="form-control" required ng-model="vm.section"
                        ng-options="x as x.name for x in vm.sections">
                    <option value="" disabled selected hidden>{{vm.lecturer.sectionName}}</option>
                </select>
            </div>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="vm.lecturer.ta">Teaching Associate
            </label>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div>
        <button class="btn btn-lg btn-primary" type="submit" ng-click="vm.edit()">Update</button>
        <button class="btn btn-lg btn-default" type="submit" ng-click="$dismiss()">Cancel</button>
    </div>
</div>