<form class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-1">
            <button type="button" class="btn btn-success" ng-click="vm.addSubjectDialog()">
                Add
            </button>
        </div>
    </div>
</form>
<div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed">
        <tr>
            <th style="width:2%" >#</th>
            <th style="width:85%" >Subject Name</th>
            <th style="width:13%" >Actions</th>
        </tr>
        <tr ng-repeat='subject in vm.subjects'>
            <td>{{$index + 1}}</td>
            <td> {{ subject.name }} </td>
            <td>
                <button type="button" class="btn btn-primary"  ng-click="vm.editSubjectDialog($index)">Edit</button>
                <button type="button" class="btn btn-danger"  ng-click="vm.deleteSubjectDialog($index)">Delete</button>
            </td>
        </tr>
    </table>
</div>
